{% extends 'base.html.twig' %}

{% block title %}Sortir.com | Log in{% endblock %}
{%block nav%}{%endblock%}
{% block body %}

<form method="post">
    {% if error %}
        <div class="alert alert-danger"> Identifiant ou mot de passe incorrect. </div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
           Vous êtes connecté {{ app.user.userIdentifier }}, voulez-vous vous <a href="{{ path('app_logout') }}">déconnecter</a>
        </div>
    {% endif %}


    <br><br><br>
    <div class="form">
        <input type="text" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="off" placeholder=" ">
        <label for="inputEmail" class="form__label">Identifiant</label>
    </div>
    <br>
    <div class="form">
        <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="off" placeholder=" " required>
    <label for="inputPassword" class="form__label">Mot de passe</label>
    </div>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}">


        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Se souvenir de moi
            </label>
        </div>


    <button class="btn btn-lg btn-primary" type="submit">
        Connexion
    </button>
</form>
{% endblock %}
