
/*base.html.twig*/

*{
    margin: 0px;
    padding: 0px;
}
body{
    background : linear-gradient(darkslateblue, #10001d);
    height: 100vh;
    font-family: system-ui;
}
a{
    text-decoration: none;
    color: white;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px;
    color: honeydew
}
header.logo{
    font-size: 30px;
    text-transform: uppercase;
}
header ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}
header ul li {
    margin-right: 30px;
}
header ul li a{
    padding: 6px 15px;
    border-radius: 20px;
}
header ul li a:hover{
    background: #fff;
    color:darkslateblue;
}
        /*login.html.twig*/
        /*  1-L'identifiant  */
.form {
    margin-left:40%;
    position: relative;
    width: 20rem;
    height: 3rem;
    margin-top: 10px;
    display: block;

}
.form input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid #e1e5ee;
    border-radius: 0.5rem;
    font-family: inherit;
    font-size: inherit;
    color: white;
    outline: none;
    padding: 1.25rem;
    background: none;
}
.form input:hover {
    border-color: #adffff;
}

.form input:focus {
    border-color:black;
}


.form label {
     position: absolute;
     left: 1rem;
     top: 0.8rem;
     padding: 0 0.5rem;
     color: white;
     cursor: text;
     transition: top 200ms ease-in, left 200ms ease-in, font-size 200ms ease-in;
     background-color: darkslateblue;
    border-radius:50px;
 }

.form-control:focus ~ .form__label,
.form-control:not(:placeholder-shown).form-control:not(:focus) ~ .form__label {
    top: -0.5rem;
    font-size: 0.8rem;
    left: 0.8rem;
}
.mb-3{
    padding-left: 32%;
}
.checkbox {
    color: #dfdfdf;
    padding-left: 40%;
}
.checkbox button{
    display: block;
    margin-left: 20%;
}

/* profile.html.twig*/

    /* Consultation de profil sans connexion*/
.alert {
    padding: 20px;
    background-color: blueviolet;
    color: white;
    text-align: center;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}

.para {
    color: #dfdfdf;
    text-align: center;
}
        /*positionnement des éléments*/
.coco1{
    color: #dfdfdf;
    text-align: center;
    text-decoration-color: #dfdfdf;

}

#id1 #participant_save, #search_save{
    border-radius: 50px;
    margin-top: 5px;
    padding-top: 2.5px;
    padding-bottom: 2.5px;
    width: 100px;
    background: darkslateblue;
    border-color: aliceblue;
    color: #dfdfdf;
    margin-bottom: 10px;
}
#id2 button{
    display: inline-block;
    border-radius: 50px;
    margin-top: 10px;
    padding-top: 2.5px;
    padding-bottom: 2.5px;
    width: 100px;
    background: darkslateblue;
    color: aliceblue;
    border-color: #dfdfdf;
}
.pro img{

    width: 75px;
    height: 75px;
    padding-bottom: 20px;
}
.btnAct{
    border-radius: 50px;
    margin-top: 2.5px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 10px;
    padding-right: 10px;
    border-color: aliceblue;
    background: darkslateblue;
    margin-left: 48px;
}
#bt1{
    color: #dfdfdf;
}

/*label{*/
/*    color: #dfdfdf;*/
/*    padding-top: 7px;*/
/*    display: inline-block;*/
/*    width: 150px;*/
/*}*/
.pro{
    text-align: center;
}

.coco label{
    color:#dfdfdf ;
    padding: 5px;
}
.coco2{
    color: #dfdfdf;
    padding-top: 2.5px;
    padding-left: 110px;


}
#participant_brochure{
    border-radius: 10px;
    padding: 8px;
    margin: -8px;
    color: transparent;
}
/*La page d'acueil*/
section{
    display: inline-block;
    padding-left: 50px;
}
.divh{
    color: #dfdfdf;
    padding-top: 2px;
    padding-left: 30px;
}
.tab1 {
    color: #dfdfdf;
    border-style: solid;
    border-width: 2px;
    border-color: aliceblue;
    display: block;
    overflow-y: scroll;
    height: 100px;
    table-layout: fixed;
    width: 60%;
    margin-left: 30px;
}
/*#idtab{*/
/*    display: block;*/
/*    position: absolute;*/
/*    background: darkslateblue;*/
/*}*/
.tab1 td, tfoot, th, thead, tr{
    padding-right: 10px;
    padding-left: 10px;
}

.fil label{
    color: #dfdfdf;
}
.show{
    background-color: transparent;
    color: #dfdfdf;
    border-radius: 10px;
    border-color: transparent;

}
/*Affichage de sortie*/
.disAct{
    color: #dfdfdf;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 30px;
}
.lstAct{
    position: static;
    padding-left: 30px;
    color: #dfdfdf;
    display: block;
    overflow-y: scroll;
    height: 100px;
    table-layout: fixed;
    width: 60%;
}
/*Page de création de sortie*/
.dis{
    color: #dfdfdf;
    padding-left: 30px;
    padding-top: 60px;
    padding-bottom: 30px;
}
.dis button{
    display: inline-block;
    border-radius: 50px;
    margin-top: 10px;
    padding-top: 2.5px;
    padding-bottom: 2.5px;
    width: 100px;
    background: darkslateblue;
    color: aliceblue;
    border-color: #dfdfdf;
}