*{
    margin: 0px;
    padding: 0px;
}
body{
    background : linear-gradient(darkslateblue, #10001d);
    height: 100vh;
    font-family: system-ui;
}
a{
    text-decoration: none;
    color: white;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px;
}
header.logo{
    font-size: 30px;
    text-transform: uppercase;
}
header ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}
header ul li {
    margin-right: 30px;
}
header ul li a{
    padding: 6px 15px;
    border-radius: 20px;
}
header ul li a:hover, .active{
    background: #fff;
    color:darkslateblue;
}