{% extends 'base.html.twig' %}

{% block title %}Sortir.com | Affichage de sortie{% endblock %}

{% block body %}

    <h2>Afficher une sortie</h2>
         {{activity}}
        {{dump(activity)}}
{% endblock %}